{% extends "base.html" %}
{% block title %}PG-TRAIN{% endblock %}
{% block content %}
  <p>{{question.question/question_id}}</p>
  <p>{{question.question/title}}</p>
  <p>{{question.question/statement}}</p>
  <p>{{answer.answer/program}}</p>

  <p id="error"></p>
  <form name="commentForm" method="post" onsubmit="return false">
    <textarea name="comment" rows="10" cols="30">{{answer.answer/comment}}</textarea>
    <input type="submit" id="send-comment" value="send">
  </form>

  {% if answer.answer/help_flg = "1" %}
  <form onsubmit="return false">
    <input type="button" id="send-settled" value="settled">
  </form>
  {% else %}
  <form onsubmit="return false">
    <input type="button" id="send-settled" value="settled" disabled>
  </form>
  {% endif %}

  {% if answer.answer/reaction_flg = "1" %}
  <form onsubmit="return false">
    <input type="button" id="send-reaction" value="reaction" disabled>
  </form>
  {% elif answer.answer/correct_flg = "0" %}
  <form onsubmit="return false">
    <input type="button" id="send-reaction" value="reaction" disabled>
  </form>
  {% else %}
  <form onsubmit="return false">
    <input type="button" id="send-reaction" value="reaction">
  </form>
  {% endif %}

  <a href="/admin/answers">戻る</a>
  
  <script type="text/javascript">
    document.getElementById('send-comment').addEventListener('click', () => {
      const comment = document.forms.commentForm.comment.value;

      fetch(`${location.pathname}/comment`, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({comment})
      }).then(response => {
        document.getElementById('error').innerHTML = (response.ok)? "saved" : "error";
      });
    })

    document.getElementById('send-settled').addEventListener('click', () => {
      fetch(`${location.pathname}/settled`, {method: 'POST'})
      .then(() => {window.location.reload()});
    })

    document.getElementById('send-reaction').addEventListener('click', () => {
      fetch(`${location.pathname}/reaction`, {method: 'POST'})
      .then(() => {window.location.reload()});
    })
  </script>
{% endblock %}