{% extends "base.html" %}
{% block navbar %}
  <a class="nav-link text-white" href="/admin/questions">問題一覧</a>
  <a class="nav-link text-dark" href="/admin/answers">回答一覧</a>
  <a class="nav-link text-white" href="/admin/users">ユーザ一覧</a>
{% endblock %}
{% block content %}
  <select class="form-select" id="filter">
    <option value="0" selected>ー</option>
    <option value="1">ヘルプ</option>
    <option value="2">正答</option>
    <option value="3">全て</option>
  </select>
  <table class="table">
    <thead>
    <tr>
      <th>ユーザID</th>
      <th>名前</th>
      <th>QID</th>
      <th>タイトル</th>
      <th>ヘルプ</th>
      <th>コメント</th>
      <th>正解</th>
      <th>いいね</th>
      <th></th>
    </tr>
    </thead>
    <tbody id="answers">
      {% for a in answers %}
      <tr>
        <td>{{a.answer/user_id}}</td>
        <td>{{a.users/username}}</td>
        <td>{{a.answer/question_id}}</td>
        <td>{{a.question/title}}</td>
        <td>{% if a.answer/help_flg = "0" %}-{% else %}○{% endif %}</td>
        <td>{% if a.answer/comment|count-is:0 %}-{% else %}済{% endif %}</td>
        <td>{% if a.answer/correct_flg = "0" %}-{% else %}○{% endif %}</td>
        <td>{% if a.answer/reaction_flg = "0" %}-{% else %}済{% endif %}</td>
        <td>
          <a href="answers/{{a.answer/question_id}}/{{a.answer/user_id}}">コメント</a>
       </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <script type="text/javascript">
    document.getElementById("filter").addEventListener("change", (event) => {
      const filterType = event.target.value;
      let url = `/admin/api/answers`
      let query = location.search;

      if (filterType === "0") {
        url += query
      } else if (filterType === "1") {
        url += (query === "")? `?help_flg=1` : `${query}&help_flg=1`;
      } else if (filterType === "2") {
        url += (query === "")? `?correct_flg=1` : `${query}&correct_flg=1`;
      } else {
        url += query
      }
      fetch(url)
      .then((response) => response.json())
      .then((data) => renderAnswers(data['answers']))
    })

    const renderAnswers = (data) => {
      let answers = ``;
      for (x of data) {
        answers += `<tr>`
        answers += `<td>${x['answer/user_id']}</td>`
        answers += `<td>${x['users/username']}</td>`
        answers += `<td>${x['answer/question_id']}</td>`
        answers += `<td>${x['question/title']}</td>`
        answers += `<td>${(x['answer/help_flg'] === "1")? "○" : "-"}</td>`
        answers += `<td>${(x['answer/comment'] === "")? "-" : "済"}</td>`
        answers += `<td>${(x['answer/correct_flg'] === "1")? "○" : "-"}</td>`
        answers += `<td>${(x['answer/reaction_flg'] === "1")? "済" : "-"}</td>`
        answers += 
        `<td><a href="answers/${x['answer/question_id']}/${x['answer/user_id']}">コメント</a></td>`
        answers += `</tr>`
      }
      document.getElementById("answers").innerHTML = answers
    }
  </script>
{% endblock %}