{% extends "base.html" %}
{% block title %}PG-TRAIN{% endblock %}
{% block content %}
  <form method="post">
    <input type="text" name="title" value="{{question.question/title}}">
    <input type="text" name="statement" value="{{question.question/statement}}">
    <input type="text" name="answer" value="{{question.question/answer}}">
    <input type="text" name="hint" value="{{question.question/hint}}">
    <input type="number" name="level" value="{{question.question/level}}">
    <input type="text" name="classifying_id" value="{{question.question/classifying_id}}">
    {% if question.question/del_flg = 1 %}
    有効<input type="radio" name="del_flg" value="0">
    無効<input type="radio" name="del_flg" value="1" checked>
    {% else %}
    有効<input type="radio" name="del_flg" value="0" checked>
    無効<input type="radio" name="del_flg" value="1">
    {% endif %}
    <input type="submit" id="send" value="regist">
  </form>
{% endblock %}