{% extends "base.html" %}
{% block title %}PG-TRAIN{% endblock %}
{% block content %}
  <a href="/admin">戻る</a>
  <table class="table">
    <thead>
    <tr>
      <th>ユーザID</th>
      <th>名前</th>
      <th>QID</th>
      <th>タイトル</th>
      <th>ヘルプ</th>
      <th>コメント</th>
      <th>正解</th>
      <th>いいね</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for a in answers %}
      <tr>
        <td>{{a.answer/user_id}}</td>
        <td>{{a.users/username}}</td>
        <td>{{a.answer/question_id}}</td>
        <td>{{a.question/title}}</td>
        <td>{% if a.answer/help_flg = "0" %}-{% else %}○{% endif %}</td>
        <td>{% if a.answer/comment|count-is:0 %}-{% else %}済{% endif %}</td>
        <td>{% if a.answer/correct_flg = "0" %}-{% else %}○{% endif %}</td>
        <td>{% if a.answer/reaction_flg = "0" %}-{% else %}済{% endif %}</td>
        <td>
          <a href="answers/{{a.answer/question_id}}/{{a.answer/user_id}}">コメント</a>
       </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}