{% extends "base.html" %}
{% block navbar %}
<div class="btn-group mb-3">
  <a class="btn btn-outline-primary" href="/admin/questions">問題</a>
  <a class="btn btn-outline-primary" href="/admin/answers">回答</a>
  <a class="btn btn-primary" href="/admin/users">ユーザ</a>
  <a class="btn btn-outline-primary" href="/admin/messages">チャット</a>
</div>
{% endblock %}
{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th>ユーザID</th>
      <th>名前</th>
      <th>登録日</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for u in users %}
      <tr>
        <td>{{u.users/user_id}}</td>
        <td>{{u.users/username}}</td>
        <td>{{u.users/create_at}}</td>
        <td><a href="/admin/answers?user_id={{u.users/user_id}}">解答一覧</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="/admin/users/new">追加</a>
{% endblock %}