{% extends "base.html" %}
{% block navbar %}
  <a class="nav-link text-dark" href="/admin">トップ</a>
  <a class="nav-link text-white" href="/admin/questions">問題一覧</a>
  <a class="nav-link text-white" href="/admin/answers">回答一覧</a>
  <a class="nav-link text-white" href="/admin/users">ユーザ一覧</a>
{% endblock %}
{% block content %}
  <h1 class="fs-6 mb-3">管理者用</h1>
  <div class="row">
    <h2 class="fs-5">お知らせ</h2>
    <div class="col-md-6 mb-5">
      <textarea id="announce" class="form-control" rows="20">{{announce.general/value}}</textarea>
      <div class="text-end">
        <input type="button" class="btn btn-primary" id="send-announce" value="登録">
      </div>
    </div>
    <div class="col-md-6">
      {% for n in notification %}
      <div>
        <a href="{{n.notification/url_path}}">{{n.notification/message}}</a>
        <span style="font-size:0.9em">{{n.notification/create_at}}</span>
        <input type="button" class="btn btn-sm text-primary" value="削除" 
          onClick="deleteNotification({{n.notification/notification_id}})">
      </div>
      {% endfor %}
    </div>
  </div>
  <script type="text/javascript">
    document.getElementById("send-announce").addEventListener("click", () => {
      const announce = document.getElementById("announce").value
      fetch("/admin/announce", {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({announce})
      })
    });

    const deleteNotification = (id) => {
      fetch(`/admin/notification/${id}`, {method: "DELETE"})
      .then(() => {window.location.reload()})
    }
  </script>
{% endblock %}