{% extends "base.html" %}
{% block navbar %}
  <a class="nav-link text-white" href="/admin">トップ</a>
  <a class="nav-link text-dark" href="/admin/questions">問題一覧</a>
  <a class="nav-link text-white" href="/admin/answers">回答一覧</a>
  <a class="nav-link text-white" href="/admin/users">ユーザ一覧</a>
{% endblock %}
{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th>QID</th>
      <th>タイトル</th>
      <th>答え</th>
      <th>難易度</th>
      <th>正答人数</th>
      <th><a href="questions/new">追加</a></th>
    </tr>
    </thead>
    <tbody>
    {% for q in questions %}
      {% if q.question/del_flg = "1" %}
      <tr class="bg-info">
      {% else %}
      <tr>
      {% endif %}
        <td>{{q.question/question_id}}</td>
        <td>{{q.question/title}}</td>
        <td>{{q.question/answer}}</td>
        <td>{{q.question/level}}</td>
        <td>{{q.question/correct_count}}</td>
        <td><a href="questions/{{q.question/question_id}}">更新</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}