<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% style "/css/style.css" %}
  <title>answers</title>
</head>
<body>
  <table>
    <thead>
    <tr>
      <th>user_id</th>
      <th>name</th>
      <th>question_id</th>
      <th>title</th>
      <th>he</th>
      <th>cm</th>
      <th>co</th>
      <th>re</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for a in answers %}
      <tr>
        <td>{{a.answer/user_id}}</td>
        <td>{{a.users/username}}</td>
        <td>{{a.answer/question_id}}</td>
        <td>{{a.question/title}}</td>
        <td>{% if a.answer/help_flg = "0" %}-{% else %}○{% endif %}</td>
        <td>{% if a.answer/comment|count-is:0 %}-{% else %}○{% endif %}</td>
        <td>{% if a.answer/correct_flg = "0" %}-{% else %}○{% endif %}</td>
        <td>{% if a.answer/reaction_flg = "0" %}-{% else %}○{% endif %}</td>
        <td>
          <a href="answers/{{a.answer/question_id}}/{{a.answer/user_id}}">comment</a>
       </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</body>
</html>