{% extends "base.html" %}
{% block navbar %}
<div class="btn-group mb-3">
  <a class="btn btn-primary" href="#" onClick="history.back(); return false;">戻る</a>
  <a class="btn btn-outline-primary" href="/messages">チャット</a>
</div>
{% endblock %}
{% block content %}
  <h3>{{question.question/question_id}}. {{question.question/title}}</h3>
  <div style="word-wrap:break-word;">{{question.question/statement}}</div>
  <input type="hidden" id="correct-answer" value="{{question.question/answer}}">

  <form name="answerForm" onsubmit="return false">
    <div id="msg" class="fs-3"></div>
    {% if answer.answer/correct_flg = "1" %}
    <input type="text" name="answer" value="{{question.question/answer}}" disabled>
    <input type="button" id="send-answer" value="回答" disabled>
    {% else %}
    <input type="text" name="answer">
    <input type="button" id="send-answer" value="回答">
    {% endif %}
  </form>

  <form name="helpForm" onsubmit="return false">
    <div class="w-100 text-end">
      {% if answer.answer/help_flg = "1" %}
      <input type="button" class="btn btn-warning" id="send-help" value="ヘルプ解除">
      {% else %}
      <input type="button" class="btn btn-outline-warning" id="send-help" value="ヘルプ">
      {% endif %}
    </div>
  </form>
  <hr>
  <h5>プログラム</h5>
  <form name="programForm" onsubmit="return false">
    <textarea name="program" class="form-control" rows="9">{{answer.answer/program}}</textarea>
    <div class="w-100 text-end">
      <input type="submit" class="btn btn-primary" id="send-program" value="プログラムを送信">
    </div>
  </form>
  <hr>
  <h5>コメント</h5>
  <div style="word-wrap:break-word;">{{answer.answer/comment}}</div>

  <script type="text/javascript">
    document.getElementById('send-answer').addEventListener('click', (event) => {
      const correctAnswer = document.getElementById('correct-answer').value;
      const form = document.forms.answerForm;

      document.getElementById('msg').classList.remove("text-secondary");
      document.getElementById('msg').classList.remove("text-success");
      if (correctAnswer === form.answer.value) {
        fetch(`${location.pathname}/correct`, {method: 'POST'})
        document.getElementById('msg').classList.add("text-success");
        document.getElementById('msg').innerHTML = "Correct!!!";
        form.answer.disabled = true;
        event.target.disabled = true;
      } else {
        document.getElementById('msg').classList.add("text-secondary");
        document.getElementById('msg').innerHTML = "Miss";
      }

      setTimeout(() => {
        document.getElementById('msg').innerHTML = "";
      }, 4000);

    })

    document.getElementById('send-program').addEventListener('click', () => {
      const program = document.forms.programForm.program.value;

      fetch(`${location.pathname}/program`, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({program})
      })
    })

    document.getElementById('send-help').addEventListener('click', () => {
      fetch(`${location.pathname}/help`, {method: 'POST'})
      .then(() => location.reload());
    })
  </script>
{% endblock %}