{% extends "base.html" %}
{% block title %}PG-TRAIN{% endblock %}
{% block content %}

  {{question.question/question_id}}
  {{question.question/title}}
  {{question.question/statement}}
  {{question.question/level}}
  {{answer.answer/comment}}
  
  <input type="hidden" id="correct-answer" value="{{question.question/answer}}">
  <p id="pass-fail"></p>
  {% if answer.answer/correct_flg = "1" %}
  <form name="answerForm" onsubmit="return false">
    <input type="text" name="answer" value="{{question.question/answer}}" disabled>
    <input type="button" id="send-answer" value="send" disabled>
  </form>
  {% else %}
  <form name="answerForm" onsubmit="return false">
    <input type="text" name="answer">
    <input type="button" id="send-answer" value="send">
  </form>
  {% endif %}

  <form name="programForm" onsubmit="return false">
    <textarea name="program" rows="10" cols="50">{{answer.answer/program}}</textarea>
    <input type="submit" id="send-program" value="send">
  </form>

  {% if answer.answer/help_flg = "1" %}
  <form name="helpForm" onsubmit="return false">
    <input type="button" id="send-help" value="help" disabled>
  </form>
  {% else %}
  <form name="helpForm" onsubmit="return false">
    <input type="button" id="send-help" value="help">
  </form>
  {% endif %}

  <a href="/questions">戻る</button>

  <script type="text/javascript">
    document.getElementById('send-answer').addEventListener('click', () => {
      const correctAnswer = document.getElementById('correct-answer').value;
      const form = document.forms.answerForm;

      if (correctAnswer === form.answer.value) {
        fetch(`${location.pathname}/correct`, {method: 'POST'})
        document.getElementById('pass-fail').innerHTML = "OK";
      } else {
        document.getElementById('pass-fail').innerHTML = "NG";
      }
    })

    document.getElementById('send-program').addEventListener('click', () => {
      const program = document.forms.programForm.program.value;

      fetch(`${location.pathname}/program`, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({program})
      })
    })

    document.getElementById('send-help').addEventListener('click', () => {
      fetch(`${location.pathname}/help`, {method: 'POST'})
      .then(() => location.reload());
    })
  </script>
{% endblock %}