{% extends "base.html" %}
{% block navbar %}
  <a class="btn btn-secondary" href="#" onClick="history.back(); return false;">戻る</a>
{% endblock %}
{% block content %}
  <style>
    .message_date {font-size:0.8em}
    .message_content {white-space:pre-wrap;}
  </style>

  <input type="hidden" id="my_id" value="{{my_id}}">
  <input type="hidden" id="partner_id" value="{{partner_id}}">
  <input type="hidden" id="min_message_id" value="{{min_message_id}}">
  <input type="hidden" id="max_message_id" value="{{max_message_id}}">
  <div>
    <div id="messages">
      {% for m in messages %}
      <div class="row">
        <hr>
        <div class="col-md-6">
          {% if m.message/send_from = partner_id %}
          <div class="message_date">{{m.message/create_at}}</div>
          <pre class="message_content">{{m.message/message}}</pre>
          {% endif %}
        </div>
        <div class="col-md-6">
          {% if m.message/send_from = my_id %}
          <div class="message_date">{{m.message/create_at}}</div>
          <pre class="message_content">{{m.message/message}}</pre>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="w-100" style="height: 80px"></div>
  </div>
  <div class=" fixed-bottom mx-5 my-3">
    <div class="input-group w-100">
      <textarea type="text" id="message" class="form-control" rows="2"></textarea>
      <input type="button" id="send" class="btn btn-primary" value="送信">
    </div>
  </div>
  <script type="text/javascript">
    document.body.scrollIntoView(false);
    const myId = document.getElementById("my_id").value
    const partnerId = document.getElementById("partner_id").value

    const renderNewMessages = (messages) => {
      let msgDiv;

      for (m of messages) {
        msgDiv = createMessageElement(m)
        document.getElementById("messages").appendChild(msgDiv);
        document.body.scrollIntoView(false);
      }
    }

    const renderOldMessages = (messages) => {
      let msgDiv;

      for (m of messages) {
        msgDiv = createMessageElement(m)
        document.getElementById("messages").prepend(msgDiv);
        document.body.scrollIntoView(false);
      }
    }

    const createMessageElement = (message) => {
      let hr = document.createElement("hr");
      let rowDiv = document.createElement("div");
      let colDiv1 = document.createElement("div");
      let colDiv2 = document.createElement("div");
      let div = document.createElement("div");
      let pre = document.createElement("pre");
      let divText = document.createTextNode(message["message/create_at"]);
      let preText = document.createTextNode(message["message/message"]);

      div.appendChild(divText);
      pre.appendChild(preText);

      div.className = "message_date";
      pre.className = "message_content";
      rowDiv.className = "row"
      colDiv1.className = "col-md-6"
      colDiv2.className = "col-md-6"

      if (message["message/send_from"] == myId) {
        colDiv2.appendChild(div);
        colDiv2.appendChild(pre);
      } else {
        colDiv1.appendChild(div);
        colDiv1.appendChild(pre);
      }
  
      rowDiv.appendChild(hr);
      rowDiv.appendChild(colDiv1);
      rowDiv.appendChild(colDiv2);
      
      return rowDiv
    }

    document.getElementById("send").addEventListener("click", () => {
      const message = document.getElementById("message").value;
      const maxMessageId = document.getElementById("max_message_id").value;

      fetch(`/chat/messages?send_to=${partnerId}`, {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({message})
      }).then(() => {
        console.log(`/chat/messages?user_id=${partnerId}&max_message_id=${maxMessageId}&type=after`)
        fetch(`/chat/messages?user_id=${partnerId}&max_message_id=${maxMessageId}&type=after`)
        .then((response) => response.json())
        .then((data) => {
          console.log(data) 
          if (data["max_message_id"] !== null) {
            document.getElementById("max_message_id").value = data["max_message_id"]
          }
          if (data["min_message_id"] !== null) {
            document.getElementById("min_message_id").value = data["min_message_id"]
          }
          renderNewMessages(data["messages"]);
          document.getElementById("message").value = "";
        })
      })
    })

    let position = 0;
    let messages = [];
    window.addEventListener('scroll', async (event) => {
      if (position > document.documentElement.scrollTop && document.documentElement.scrollTop === 0) {
        if (Array.isArray(messages) && messages.length) {
          document.getElementById("messages").prepend(createMessageElement(messages[0]))
          messages.shift();
          document.documentElement.scrollTop = 40

        } else {
          const minMessageId = document.getElementById("min_message_id").value;

          await fetch(`/chat/messages?user_id=${partnerId}&min_message_id=${minMessageId}&type=before`)
          .then((response) => response.json())
          .then((data) => {
            if (data["min_message_id"] !== null) {
              document.getElementById("min_message_id").value = data["min_message_id"]
            }
            messages = data["messages"];
            if (Array.isArray(messages) && messages.length) {
              document.getElementById("messages").prepend(createMessageElement(messages[0]));
              messages.shift();
              document.documentElement.scrollTop = 40
            } 
          });
        }
      }
      position = document.documentElement.scrollTop;
    });

    const polling = () => {
      setTimeout(async () => {
        const maxMessageId = document.getElementById("max_message_id").value;
        await fetch(`/chat/messages?user_id=${partnerId}&max_message_id=${maxMessageId}&type=after`)
        .then((response) => response.json())
        .then((data) => {
          if (data["max_message_id"] !== null) {
            document.getElementById("max_message_id").value = data["max_message_id"]
          }
          if (data["min_message_id"] !== null) {
            document.getElementById("min_message_id").value = data["min_message_id"]
          }
          renderNewMessages(data["messages"]);
        });

        polling()
      },30000)
    }

    polling()
  </script>
{% endblock %}