{% extends "base.html" %}
{% block title %}PG-TRAIN{% endblock %}
{% block content %}
  <p id="error"></p>
  <form name="loginForm" class="d-flex align-items-center" onsubmit="return false">
    <div class="nput-group input-group-lg mx-auto d-grid" style="width:300px; max-width:75%;">
      <input type="text" class="form-control" placeholder="ユーザ名" name="username">
      <input type="password" class="form-control mb-4" placeholder="パスワード" name="password">
      <input type="button" class="btn btn-primary" id="send" value="サインイン">
    </div>
  </form>

  <script type="text/javascript">
    document.getElementById('send').addEventListener('click', () => {
      const form = document.forms.loginForm;
      const username = form.username.value;
      const password = form.password.value;

      fetch('login', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({username, password})
      })
      .then(response => {
        if (!response.ok) {
          document.getElementById("error").innerHTML = "認証に失敗しました。"
          throw new Error(response.statusText);
        } else {
          document.location.href = "/";
        }
      })
      .catch(console.error);
    })
  </script>
{% endblock %}