{% extends "base.html" %}
{% block title %}PG-TRAIN{% endblock %}
{% block content %}
  <p id="error"></p>
  <form name="loginForm" onsubmit="return false">
    <input type="text" name="username">
    <input type="password" name="password">
    <input type="button" id="send" value="login">
  </form>

  <script type="text/javascript">
    document.getElementById('send').addEventListener('click', () => {
      const form = document.forms.loginForm;
      const username = form.username.value;
      const password = form.password.value;

      fetch('login', {
        method: 'POST',
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({username, password})
      })
      .then(response => {
        if (!response.ok) {
          document.getElementById("error").innerHTML = "認証に失敗しました。"
          throw new Error(response.statusText);
        } else {
          document.location.href = "/";
        }
      })
      .catch(console.error);
    })
  </script>
{% endblock %}