{% extends "base.html" %}
{% block navbar %}
  <a class="nav-link text-white" href="/">トップ</a>
  <a class="nav-link text-dark" href="/questions">問題一覧</a>
  <a class="nav-link text-white" href="/messages">チャット</a>
{% endblock %}
{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th>QID</th>
      <th>タイトル</th>
      <th>難易度</th>
      <th>解答人数</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for q in questions %}
      <tr>
        <td>{{q.question/question_id}}</td>
        <td>{{q.question/title}}</td>
        <td>{{q.question/level}}</td>
        <td>{{q.question/correct_count}}</td>
        <td><a href="questions/{{q.question/question_id}}">回答</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}