{% extends "base.html" %}
{% block navbar %}
  <a class="nav-link text-white" href="/">トップ</a>
  <a class="nav-link text-dark" href="/questions">問題一覧</a>
  <a class="nav-link text-white" href="/chat?user_id=1">チャット</a>
{% endblock %}
{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th>QID</th>
      <th>タイトル</th>
      <th></th>
      <th>難易度</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    {% for q in qas %}
      {% if q.answer/correct_flg = 1 %}
      <tr style="background-color: #e2fcdc;">
      {% else %}
      <tr>
      {% endif %}
        <td>{{q.question/question_id}}</td>
        <td style="font-weight:bold;">{{q.question/title}}</td>
        <td><p class="q-statement">{{q.question/statement}}</p></td>
        <td>{{q.question/level}}</td>
        <td>{% if q.answer/correct_flg = 1 %}👍{% endif %}</td>
        <td><a href="questions/{{q.question/question_id}}">回答</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}