{% extends "base.html" %}
{% block navbar %}
  <a class="btn btn-secondary" href="#" onClick="history.back(); return false;">戻る</a>
{% endblock %}
{% block content %}
  <p id="error"></p>
  <form name="signupForm" onsubmit="return false">
    <div class="nput-group input-group-lg mx-auto d-grid" style="width:300px; max-width:75%;">
      <input type="text" class="form-control" placeholder="ユーザ名" name="username">
      <input type="password" class="form-control" placeholder="パスワード" name="password">
      <input type="password" class="form-control mb-4" placeholder="パスワード(確認用)" name="password2">
      <input type="button" class="btn btn-primary" id="send" value="サインアップ">
    </div>
  </form>

  <script type="text/javascript">
    document.getElementById('send').addEventListener('click', () => {
      const form = document.forms.signupForm;
      const username = form.username.value;
      const password = form.password.value;
      const password2 = form.password2.value;

      if (password !== password2) {
        document.getElementById("error").innerHTML = "パスワードが一致しません。"
      } else {
        fetch(location.pathname, {
          method: 'POST',
          headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({username, password})
        })
        .then(response => {
          if (!response.ok) {
            if (response.status == 409) {
              document.getElementById("error").innerHTML = "アカウント名が既に使われています。"
            } else {
              document.getElementById("error").innerHTML = "登録に失敗しました。"
            }
            throw new Error(response.statusText);
            
          } else {
            document.location.href = "/admin/users";
          }
        })
        .catch(console.error);
      }
    })
  </script>
{% endblock %}