* { 
  margin: 0; 
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.q-statement {
  font-size: 0.8em;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}